[package]
name = "callysto"
version = "0.1.1"
description = "Stream processing framework."
authors = [
    "Theo B. <vertexclique@gmail.com>",
    "Ankur S. <asrivas.cs@gmail.com>",
]
keywords = ["stream", "stream-processing", "microservice", "distributed", "database"]
categories = ["concurrency", "asynchronous", "database", "database-implementations"]
edition = "2021"
license = "Apache-2.0"
readme = "README.md"
homepage = "https://github.com/vertexclique/callysto"
repository = "https://github.com/vertexclique/callysto"
exclude = [
    ".github/*",
    "examples/*",
    "tests/*",
    "art/*",
    "ci/*",
    "k8s/*",
    "benches/*",
    "doc/*",
    "docs/*",
    "*.png",
    "*.dot",
    "*.yml",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["store-rocksdb"]
store-rocksdb = ["rocksdb"]

[dependencies]
#nuclei = { version = "0.1.3", default-features = false, features = ["iouring", "asyncstd"] }
nuclei = { version = "0.1.3", default-features = false, features = ["epoll", "asyncstd"] }
lightproc = "0.3.5"
lever = "0.1.2"
thiserror = "1.0"
async-trait = "0.1"
futures = "0.3"
futures-timer = "3.0"
crossbeam-channel = "0.5"
rdkafka = { version = "0.26", default-features = false, features = ["libz"]}
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
url = "2.2"
libc = "0.2.96"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
bincode = "1.3"
http-types = "2.12"
async-h1 = "2.3"

# Optionals
rocksdb = { version = "0.18", optional = true }
